In [124]:
import pandas as pd
import re

In [125]:
heart_df = pd.read_csv('../raw_data/heart_raw.csv')

In [126]:
heart_df.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,...,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon,Georeference
0,2020,AK,Denali,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,348.8,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,NaN,Sex,Male,Race/Ethnicity,White,T2,2068,63.678820,-149.960801,POINT (-149.9608012 63.67881971)
1,2020,CA,California,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,230.1,"per 100,000 population","Age-adjusted, 3-year Average Rate",...,NaN,Sex,Male,Race/Ethnicity,More than one race,T2,6,37.241400,-119.601000,POINT (-119.601 37.2414)
2,2020,CO,Park County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,135.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,NaN,Sex,Female,Race/Ethnicity,White,T2,8093,39.115616,-105.708698,POINT (-105.7086982 39.11561621)
3,2020,FL,Walton County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,126.5,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,NaN,Sex,Female,Race/Ethnicity,Asian,T2,12131,30.655966,-86.157457,POINT (-86.15745736 30.65596581)
4,2020,GA,Whitfield County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,155.1,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,NaN,Sex,Female,Race/Ethnicity,Hispanic,T2,13313,34.803854,-84.962112,POINT (-84.96211184 34.80385386)

In [127]:
# Rename Data_Value column to Heart Disease Mortality
heart_df = heart_df.rename(columns={'Data_Value': 'Heart Disease Mortality', 'Stratification1': 'Sex', 'Stratification2':'ethnicity'})


# Display the first few rows to verify the change
heart_df.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Heart Disease Mortality,Data_Value_Unit,Data_Value_Type,...,Data_Value_Footnote,StratificationCategory1,Sex,StratificationCategory2,ethnicity,TopicID,LocationID,Y_lat,X_lon,Georeference
0,2020,AK,Denali,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,348.8,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,NaN,Sex,Male,Race/Ethnicity,White,T2,2068,63.678820,-149.960801,POINT (-149.9608012 63.67881971)
1,2020,CA,California,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,230.1,"per 100,000 population","Age-adjusted, 3-year Average Rate",...,NaN,Sex,Male,Race/Ethnicity,More than one race,T2,6,37.241400,-119.601000,POINT (-119.601 37.2414)
2,2020,CO,Park County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,135.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,NaN,Sex,Female,Race/Ethnicity,White,T2,8093,39.115616,-105.708698,POINT (-105.7086982 39.11561621)
3,2020,FL,Walton County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,126.5,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,NaN,Sex,Female,Race/Ethnicity,Asian,T2,12131,30.655966,-86.157457,POINT (-86.15745736 30.65596581)
4,2020,GA,Whitfield County,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,155.1,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",...,NaN,Sex,Female,Race/Ethnicity,Hispanic,T2,13313,34.803854,-84.962112,POINT (-84.96211184 34.80385386)

In [128]:

columns_drop = [
    'Data_Value_Footnote',
    'Data_Value_Type',
    'Class',
    'DataSource',
    'Data_Value_Footnote_Symbol',
    'StratificationCategory1',
    'Topic',
    'Data_Value_Unit',
    'StratificationCategory2',
]

heart_df = heart_df.drop(columns=columns_drop)

heart_df.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,Heart Disease Mortality,Sex,ethnicity,TopicID,LocationID,Y_lat,X_lon,Georeference
0,2020,AK,Denali,County,348.8,Male,White,T2,2068,63.678820,-149.960801,POINT (-149.9608012 63.67881971)
1,2020,CA,California,State,230.1,Male,More than one race,T2,6,37.241400,-119.601000,POINT (-119.601 37.2414)
2,2020,CO,Park County,County,135.9,Female,White,T2,8093,39.115616,-105.708698,POINT (-105.7086982 39.11561621)
3,2020,FL,Walton County,County,126.5,Female,Asian,T2,12131,30.655966,-86.157457,POINT (-86.15745736 30.65596581)
4,2020,GA,Whitfield County,County,155.1,Female,Hispanic,T2,13313,34.803854,-84.962112,POINT (-84.96211184 34.80385386)

In [129]:
heart_df.dropna()

,Year,LocationAbbr,LocationDesc,GeographicLevel,Heart Disease Mortality,Sex,ethnicity,TopicID,LocationID,Y_lat,X_lon,Georeference
0,2020,AK,Denali,County,348.8,Male,White,T2,2068,63.678820,-149.960801,POINT (-149.9608012 63.67881971)
1,2020,CA,California,State,230.1,Male,More than one race,T2,6,37.241400,-119.601000,POINT (-119.601 37.2414)
2,2020,CO,Park County,County,135.9,Female,White,T2,8093,39.115616,-105.708698,POINT (-105.7086982 39.11561621)
3,2020,FL,Walton County,County,126.5,Female,Asian,T2,12131,30.655966,-86.157457,POINT (-86.15745736 30.65596581)
4,2020,GA,Whitfield County,County,155.1,Female,Hispanic,T2,13313,34.803854,-84.962112,POINT (-84.96211184 34.80385386)
...,...,...,...,...,...,...,...,...,...,...,...,...
78784,2020,VA,Prince William County,County,228.4,Overall,White,T2,51153,38.704617,-77.481441,POINT (-77.48144058 38.70461706)
78786,2020,WI,Menominee County,County,451.7,Male,White,T2,55078,45.005150,-88.704268,POINT (-88.70426767 45.00514971)
78788,2020,WA,San Juan County,County,307.7,Male,Asian,T2,53055,48.535986,-123.082448,POINT (-123.0824477 48.53598644)
78789,2020,WA,Pierce County,County,297.2,Female,American Indian or Alaska Native,T2,53053,47.016724,-122.091967,POINT (-122.0919668 47.01672374)
78790,2020,UT,Carbon County,County,454.7,Male,Hispanic,T2,49007,39.641056,-110.580615,POINT (-110.580615 39.641056)

In [130]:
def restructure_csv(input_file):
    df = pd.read_csv(input_file)
    
    columns = df.columns.tolist()
    
    transformed_rows = []
    
    current_county = None
    current_state = None
    current_household_type = None
    
    for i, row in df.iterrows():
        first_column_value = str(row[columns[0]]).strip()
        
        county_match = re.match(r'(.+) County, (.+)', first_column_value)
        if county_match:
            current_county = county_match.group(1)
            current_state = county_match.group(2)
            continue
            
        if first_column_value in ['Households', 'Families', 'Married-couple families', 'Nonfamily households']:
            current_household_type = first_column_value
            continue
            
        if first_column_value == 'Estimate':
            new_row = {
                'County': current_county,
                'State': current_state,
                'Household_Type': current_household_type
            }
            
            for j in range(1, len(columns)):
                clean_col_name = columns[j].replace('Total!!', '').strip()
                new_row[clean_col_name] = row[columns[j]]
                
            transformed_rows.append(new_row)
    
    result_df = pd.DataFrame(transformed_rows)

    
    return result_df

In [131]:
result_df = restructure_csv("../raw_data/income_2020.csv")  # For wide format

In [132]:
result_df.head(10)

,County,State,Household_Type,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income,Mean income,PERCENT ALLOCATED,PERCENT ALLOCATED!!Household income in the past 12 months,PERCENT ALLOCATED!!Family income in the past 12 months,PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,Autauga,Alabama,Households,"21,559",6.2%,4.6%,12.3%,8.5%,12.7%,17.0%,13.4%,16.4%,4.8%,4.2%,"57,982","75,614",NaN,32.5%,(X),(X)
1,Autauga,Alabama,Families,"15,103",5.2%,2.6%,8.1%,7.2%,11.9%,17.7%,16.0%,19.4%,6.3%,5.7%,"70,730","88,331",NaN,(X),30.1%,(X)
2,Autauga,Alabama,Married-couple families,"11,281",2.3%,1.1%,5.0%,7.3%,8.6%,17.8%,17.4%,25.2%,8.3%,7.1%,"87,738",N,NaN,(X),(X),(X)
3,Autauga,Alabama,Nonfamily households,"6,456",10.3%,9.7%,22.2%,12.3%,13.9%,15.3%,6.5%,8.0%,1.4%,0.4%,"30,041","43,328",NaN,(X),(X),36.1%
4,Baldwin,Alabama,Households,"84,047",5.2%,4.8%,7.7%,10.0%,14.0%,16.8%,13.7%,15.5%,5.8%,6.6%,"61,756","83,626",NaN,34.6%,(X),(X)
5,Baldwin,Alabama,Families,"56,092",2.1%,1.9%,4.6%,7.5%,12.5%,17.7%,16.1%,20.2%,8.2%,9.2%,"79,907","101,693",NaN,(X),37.2%,(X)
6,Baldwin,Alabama,Married-couple families,"46,277",1.0%,0.8%,3.1%,5.9%,11.4%,17.0%,17.9%,22.9%,9.1%,10.9%,"88,867","111,411",NaN,(X),(X),(X)
7,Baldwin,Alabama,Nonfamily households,"27,955",11.8%,10.5%,14.3%,15.9%,16.5%,15.6%,7.4%,5.6%,1.0%,1.4%,"32,861","45,788",NaN,(X),(X),28.4%
8,Barbour,Alabama,Households,"9,322",14.6%,7.6%,18.4%,9.4%,12.5%,16.3%,7.3%,9.1%,2.2%,2.6%,"34,990","51,557",NaN,43.9%,(X),(X)
9,Barbour,Alabama,Families,"6,083",11.1%,5.4%,12.2%,12.0%,12.2%,19.5%,10.2%,10.7%,3.3%,3.3%,"45,836","60,687",NaN,(X),47.4%,(X)

In [133]:
filtered_df = result_df[result_df['Household_Type'] == 'Households']

filtered_df = filtered_df.reset_index(drop=True)

filtered_df.head()

,County,State,Household_Type,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income,Mean income,PERCENT ALLOCATED,PERCENT ALLOCATED!!Household income in the past 12 months,PERCENT ALLOCATED!!Family income in the past 12 months,PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,Autauga,Alabama,Households,"21,559",6.2%,4.6%,12.3%,8.5%,12.7%,17.0%,13.4%,16.4%,4.8%,4.2%,"57,982","75,614",NaN,32.5%,(X),(X)
1,Baldwin,Alabama,Households,"84,047",5.2%,4.8%,7.7%,10.0%,14.0%,16.8%,13.7%,15.5%,5.8%,6.6%,"61,756","83,626",NaN,34.6%,(X),(X)
2,Barbour,Alabama,Households,"9,322",14.6%,7.6%,18.4%,9.4%,12.5%,16.3%,7.3%,9.1%,2.2%,2.6%,"34,990","51,557",NaN,43.9%,(X),(X)
3,Bibb,Alabama,Households,"7,259",11.0%,7.1%,10.5%,9.1%,11.2%,19.4%,15.6%,11.2%,2.8%,2.2%,"51,721","61,655",NaN,35.6%,(X),(X)
4,Blount,Alabama,Households,"21,205",10.1%,4.6%,11.0%,11.2%,14.5%,17.9%,10.8%,12.4%,4.9%,2.7%,"48,922","66,360",NaN,38.2%,(X),(X)

In [134]:
filtered_df.shape

(3221, 20)

In [135]:
def clean_county(heart_df):
    df_cleaned = heart_df.copy()
    
    def remove_county(location):
        if isinstance(location, str):
            return location.replace(' County', '').replace('County ', '').replace(' County ', ' ')
        return location 
    
    df_cleaned['LocationDesc'] = df_cleaned['LocationDesc'].apply(remove_county)
    
    return df_cleaned

In [136]:
heart_df_cleaned = clean_county(heart_df)

heart_df_cleaned.head(10)

,Year,LocationAbbr,LocationDesc,GeographicLevel,Heart Disease Mortality,Sex,ethnicity,TopicID,LocationID,Y_lat,X_lon,Georeference
0,2020,AK,Denali,County,348.8,Male,White,T2,2068,63.678820,-149.960801,POINT (-149.9608012 63.67881971)
1,2020,CA,California,State,230.1,Male,More than one race,T2,6,37.241400,-119.601000,POINT (-119.601 37.2414)
2,2020,CO,Park,County,135.9,Female,White,T2,8093,39.115616,-105.708698,POINT (-105.7086982 39.11561621)
3,2020,FL,Walton,County,126.5,Female,Asian,T2,12131,30.655966,-86.157457,POINT (-86.15745736 30.65596581)
4,2020,GA,Whitfield,County,155.1,Female,Hispanic,T2,13313,34.803854,-84.962112,POINT (-84.96211184 34.80385386)
5,2020,GA,Ware,County,NaN,Female,Asian,T2,13299,31.051889,-82.420394,POINT (-82.4203935 31.05188914)
6,2020,IA,Ida,County,168.0,Overall,Hispanic,T2,19093,42.387689,-95.523143,POINT (-95.52314316 42.38768939)
7,2020,ID,Teton,County,191.9,Female,White,T2,16081,43.755726,-111.205298,POINT (-111.2052979 43.75572633)
8,2020,KS,Sedgwick,County,97.8,Female,Asian,T2,20173,37.680329,-97.454044,POINT (-97.45404365 37.68032871)
9,2020,KY,Shelby,County,152.3,Female,Hispanic,T2,21211,38.219932,-85.203751,POINT (-85.20375065 38.21993221)

In [137]:
filtered_df_unique = filtered_df.drop_duplicates(subset=['County'])
merged_df = pd.merge(
    filtered_df_unique,
    heart_df_cleaned,
    left_on='County',
    right_on='LocationDesc',
    how='right' 
)

merged_df.head()

,County,State,Household_Type,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999",...,LocationDesc,GeographicLevel,Heart Disease Mortality,Sex,ethnicity,TopicID,LocationID,Y_lat,X_lon,Georeference
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Denali,County,348.8,Male,White,T2,2068,63.678820,-149.960801,POINT (-149.9608012 63.67881971)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,State,230.1,Male,More than one race,T2,6,37.241400,-119.601000,POINT (-119.601 37.2414)
2,Park,Colorado,Households,"6,987",1.6%,2.9%,10.4%,8.0%,7.0%,18.1%,...,Park,County,135.9,Female,White,T2,8093,39.115616,-105.708698,POINT (-105.7086982 39.11561621)
3,Walton,Florida,Households,"28,635",5.9%,3.5%,8.6%,7.9%,12.3%,18.6%,...,Walton,County,126.5,Female,Asian,T2,12131,30.655966,-86.157457,POINT (-86.15745736 30.65596581)
4,Whitfield,Georgia,Households,"36,412",5.0%,4.6%,12.5%,12.3%,15.5%,20.4%,...,Whitfield,County,155.1,Female,Hispanic,T2,13313,34.803854,-84.962112,POINT (-84.96211184 34.80385386)

In [138]:
merged_df.shape

(78792, 32)

In [139]:
merged_df.columns

Index(['County', 'State', 'Household_Type', 'Total', 'Less than $10,000',
       '$10,000 to $14,999', '$15,000 to $24,999', '$25,000 to $34,999',
       '$35,000 to $49,999', '$50,000 to $74,999', '$75,000 to $99,999',
       '$100,000 to $149,999', '$150,000 to $199,999', '$200,000 or more',
       'Median income', 'Mean income', 'PERCENT ALLOCATED',
       'PERCENT ALLOCATED!!Household income in the past 12 months',
       'PERCENT ALLOCATED!!Family income in the past 12 months',
       'PERCENT ALLOCATED!!Nonfamily income in the past 12 months', 'Year',
       'LocationAbbr', 'LocationDesc', 'GeographicLevel',
       'Heart Disease Mortality', 'Sex', 'ethnicity', 'TopicID', 'LocationID',
       'Y_lat', 'X_lon', 'Georeference'],
      dtype='object')

In [140]:
# 지정된 칼럼들 제거하기
columns_drop = [
    'Household_Type',
    'PERCENT ALLOCATED!!Household income in the past 12 months', 
    'PERCENT ALLOCATED!!Family income in the past 12 months', 
    'PERCENT ALLOCATED!!Nonfamily income in the past 12 months', 
    'Year',
    'PERCENT ALLOCATED',
    'LocationAbbr',
    'Y_lat', 
    'X_lon', 
    'Georeference',
    'LocationID',
    'LocationDesc', 
    'GeographicLevel',
    'TopicID'
]

merged_df = merged_df.drop(columns=columns_drop)

print(merged_df.head())

      County     State   Total Less than $10,000 $10,000 to $14,999  \
0        NaN       NaN     NaN               NaN                NaN
1        NaN       NaN     NaN               NaN                NaN
2       Park  Colorado   6,987              1.6%               2.9%
3     Walton   Florida  28,635              5.9%               3.5%
4  Whitfield   Georgia  36,412              5.0%               4.6%

  $15,000 to $24,999 $25,000 to $34,999 $35,000 to $49,999 $50,000 to $74,999  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2              10.4%               8.0%               7.0%              18.1%
3               8.6%               7.9%              12.3%              18.6%
4              12.5%              12.3%              15.5%              20.4%

  $75,000 to $99,999 $100,000 to $149,999 $150,000 to $199,999  \
0                NaN                  NaN                  NaN
1                NaN                  NaN                  NaN
2              15.5%                21.1%                10.5%
3              13.8%                17.1%                 5.6%
4              11.5%                11.9%                 2.6%

  $200,000 or more Median income Mean income  Heart Disease Mortality     Sex  \
0              NaN           NaN         NaN                    348.8    Male
1              NaN           NaN         NaN                    230.1    Male
2             4.8%        76,611      91,905                    135.9  Female
3             6.7%        67,390      86,296                    126.5  Female
4             3.7%        50,055      67,316                    155.1  Female

            ethnicity
0               White
1  More than one race
2               White
3               Asian
4            Hispanic

In [141]:
merged_df = merged_df.dropna()

In [142]:
merged_df.head(20)

,County,State,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income,Mean income,Heart Disease Mortality,Sex,ethnicity
2,Park,Colorado,"6,987",1.6%,2.9%,10.4%,8.0%,7.0%,18.1%,15.5%,21.1%,10.5%,4.8%,"76,611","91,905",135.9,Female,White
3,Walton,Florida,"28,635",5.9%,3.5%,8.6%,7.9%,12.3%,18.6%,13.8%,17.1%,5.6%,6.7%,"67,390","86,296",126.5,Female,Asian
4,Whitfield,Georgia,"36,412",5.0%,4.6%,12.5%,12.3%,15.5%,20.4%,11.5%,11.9%,2.6%,3.7%,"50,055","67,316",155.1,Female,Hispanic
6,Ida,Iowa,"2,972",7.4%,4.1%,9.1%,9.6%,16.6%,16.5%,16.4%,12.4%,4.5%,3.4%,"54,219","72,389",168.0,Overall,Hispanic
7,Teton,Idaho,"4,290",2.1%,4.6%,7.2%,7.2%,8.5%,21.7%,9.3%,21.1%,15.3%,2.9%,"73,274","93,860",191.9,Female,White
8,Sedgwick,Colorado,954,6.6%,7.7%,17.2%,10.0%,12.4%,15.9%,10.9%,13.5%,2.0%,3.9%,"43,875","66,732",97.8,Female,Asian
9,Shelby,Alabama,"80,756",3.8%,3.0%,6.1%,6.2%,10.8%,17.6%,13.9%,20.7%,8.1%,9.8%,"78,889","103,042",152.3,Female,Hispanic
11,Charles,Maryland,"57,388",3.5%,1.4%,3.5%,4.6%,7.1%,14.1%,13.5%,24.8%,13.6%,13.8%,"103,678","119,477",89.3,Female,Asian
12,Phelps,Missouri,"18,213",10.7%,5.8%,12.5%,9.9%,15.0%,18.1%,10.3%,11.1%,3.7%,2.8%,"44,987","62,126",374.0,Overall,White
13,Mississippi,Arkansas,"16,623",8.3%,6.3%,16.6%,10.8%,14.3%,17.1%,8.5%,11.6%,3.6%,3.0%,"42,986","61,177",167.6,Female,Asian
14,Nevada,Arkansas,"3,188",9.7%,10.5%,11.0%,13.5%,12.6%,25.7%,8.1%,7.2%,1.4%,0.4%,"39,946","47,288",281.6,Male,More than one race
15,Schenectady,New York,"57,479",4.9%,4.6%,8.7%,8.5%,11.2%,17.6%,14.1%,17.3%,7.5%,5.6%,"66,488","83,681",190.8,Female,Hispanic
18,Prince George,Virginia,"11,763",3.6%,2.9%,4.9%,5.1%,13.4%,20.1%,15.9%,21.0%,7.4%,5.9%,"75,123","92,280",233.1,Male,Hispanic
20,Loudoun,Virginia,"132,565",1.8%,0.9%,2.0%,2.9%,4.7%,9.4%,9.5%,19.7%,17.3%,31.8%,"147,111","174,594",89.0,Overall,More than one race
21,Bennington,Vermont,"14,585",6.6%,5.3%,7.2%,10.1%,14.0%,17.4%,12.9%,14.8%,6.0%,5.7%,"58,200","82,211",191.1,Overall,Hispanic
23,Jefferson,Alabama,"263,801",8.4%,4.9%,9.7%,10.1%,12.7%,17.3%,11.4%,13.5%,5.4%,6.6%,"55,088","81,248",34.1,Overall,More than one race
24,Suwannee,Florida,"15,149",8.3%,6.3%,8.9%,14.6%,14.6%,21.4%,11.8%,9.3%,2.4%,2.3%,"46,280","62,693",248.1,Overall,Hispanic
26,Humboldt,California,"54,120",6.8%,7.5%,11.4%,11.5%,13.3%,16.5%,11.2%,12.4%,4.8%,4.5%,"49,235","70,922",379.6,Overall,White
29,Lauderdale,Alabama,"38,513",6.9%,4.9%,12.8%,12.2%,14.2%,17.2%,13.1%,12.1%,3.5%,3.0%,"48,428","66,737",319.8,Female,Overall
31,Telfair,Georgia,"4,481",7.5%,16.8%,12.6%,15.7%,12.7%,11.6%,13.5%,6.8%,0.6%,2.2%,"32,764","53,563",339.9,Male,Black

In [143]:
merged_df.shape

(32111, 18)

In [144]:
merged_df = merged_df.drop_duplicates()
merged_df.shape

(32097, 18)

In [145]:
merged_df.head(10)

,County,State,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income,Mean income,Heart Disease Mortality,Sex,ethnicity
2,Park,Colorado,"6,987",1.6%,2.9%,10.4%,8.0%,7.0%,18.1%,15.5%,21.1%,10.5%,4.8%,"76,611","91,905",135.9,Female,White
3,Walton,Florida,"28,635",5.9%,3.5%,8.6%,7.9%,12.3%,18.6%,13.8%,17.1%,5.6%,6.7%,"67,390","86,296",126.5,Female,Asian
4,Whitfield,Georgia,"36,412",5.0%,4.6%,12.5%,12.3%,15.5%,20.4%,11.5%,11.9%,2.6%,3.7%,"50,055","67,316",155.1,Female,Hispanic
6,Ida,Iowa,"2,972",7.4%,4.1%,9.1%,9.6%,16.6%,16.5%,16.4%,12.4%,4.5%,3.4%,"54,219","72,389",168.0,Overall,Hispanic
7,Teton,Idaho,"4,290",2.1%,4.6%,7.2%,7.2%,8.5%,21.7%,9.3%,21.1%,15.3%,2.9%,"73,274","93,860",191.9,Female,White
8,Sedgwick,Colorado,954,6.6%,7.7%,17.2%,10.0%,12.4%,15.9%,10.9%,13.5%,2.0%,3.9%,"43,875","66,732",97.8,Female,Asian
9,Shelby,Alabama,"80,756",3.8%,3.0%,6.1%,6.2%,10.8%,17.6%,13.9%,20.7%,8.1%,9.8%,"78,889","103,042",152.3,Female,Hispanic
11,Charles,Maryland,"57,388",3.5%,1.4%,3.5%,4.6%,7.1%,14.1%,13.5%,24.8%,13.6%,13.8%,"103,678","119,477",89.3,Female,Asian
12,Phelps,Missouri,"18,213",10.7%,5.8%,12.5%,9.9%,15.0%,18.1%,10.3%,11.1%,3.7%,2.8%,"44,987","62,126",374.0,Overall,White
13,Mississippi,Arkansas,"16,623",8.3%,6.3%,16.6%,10.8%,14.3%,17.1%,8.5%,11.6%,3.6%,3.0%,"42,986","61,177",167.6,Female,Asian

In [146]:
merged_df.to_csv("../cleaned_data/merged_data.csv", index=False)